body {
  --display-block-width: calc(100% / 4 - 23px);
}

@media (max-width: 768px) {
  body { 
    --display-block-width: 100%;
  }
}




@keyframes inAnimation {
  0% {
    height: 0;
    opacity: 0;
    padding: 0;
    width: 0;
  }
  20% {
    height: 100%;
    opacity: 1;
    padding: 25px;
    width: var(--display-block-width);
  }
  100% {
    height: 100%;
    opacity: 1;
    padding: 25px;
  }
}

@keyframes outAnimation {
  0% {
    width: var(--display-block-width);
    height: 100%;
    opacity: 1;
    padding: 25px;
  }
  10% {
    height: 0;
    opacity: 0;
    padding: 0;
    width: 0;
  }
  100% {
    height: 0;
    width: 0;
    opacity: 0;
    padding: 0;
  }
}
